<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>u16suzu.com.memotool</string>
	<key>connections</key>
	<dict>
		<key>442FFD89-FA37-4DE5-9A45-EB24FF0A3079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>453BE139-782E-4CEC-BBCA-E3B8DE7E3B61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>50989B2D-DFC5-4CC9-8DDB-4A562D7146B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9BC15D2-1EB0-4E19-9FDB-639298BAA450</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2B44982-F655-46CC-8E96-2388125E159A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA928E79-C556-4131-BDCA-DE8E56145B82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>u16suzu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sublime_u16suzu_version2.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby ./new.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DA928E79-C556-4131-BDCA-DE8E56145B82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>new</string>
				<key>text</key>
				<string>new</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2B44982-F655-46CC-8E96-2388125E159A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby ./daily.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9BC15D2-1EB0-4E19-9FDB-639298BAA450</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>daily</string>
				<key>text</key>
				<string>daily</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50989B2D-DFC5-4CC9-8DDB-4A562D7146B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby ./monthly.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>453BE139-782E-4CEC-BBCA-E3B8DE7E3B61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>monthly</string>
				<key>text</key>
				<string>monthly</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>442FFD89-FA37-4DE5-9A45-EB24FF0A3079</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>442FFD89-FA37-4DE5-9A45-EB24FF0A3079</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>453BE139-782E-4CEC-BBCA-E3B8DE7E3B61</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>50989B2D-DFC5-4CC9-8DDB-4A562D7146B2</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D9BC15D2-1EB0-4E19-9FDB-639298BAA450</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>DA928E79-C556-4131-BDCA-DE8E56145B82</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>E2B44982-F655-46CC-8E96-2388125E159A</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
